@use "../abstract/" as *;
@use "../base/" as *;

.menu {
  padding: 10rem 0 5rem 0;
  &__title {
    @include centerAll;
    flex-direction: column;
    margin-bottom: 2rem;
    h2 {
      font-size: 2.5rem;
      font-family: $font-primary;
    }
  }
  &__card {
    @include evenGrid(1,1rem);
  }
  &__items {
    @include evenGrid(2, 1rem);
    justify-items: center;
  }
  &__food {
    ul {
      @include between;
      li {
        color: $clr--secondary;
        font-size: 1.5rem;
        font-weight: 500;
      }
    }
    p {
      margin-bottom: 2rem;
    }
  }
  &__img {
    width: 68rem;
    justify-self: center;
    img {
      width: 100%;
      border-radius: 2rem;
    }
  }
}

// MOBILE | MENU
@include mediaQuery(520px)  {
  .menu {
    &__items {
       @include evenGrid(1, 1rem);
    }
    &__img {
    width: 28rem;
    }
  }
}
